{{define "join"}}
<!DOCTYPE html>
<html>

<head>
    <title>Join the Game</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body class="bg-gray-200">
    <form method="post" action="/register">
        <div id="join" class="flex flex-row h-screen">
            <div class="flex-1"></div>
            <div class="flex-1 content-center">
                <div class="flex flex-col justify-center">
                    <h1 class="join">JOIN</h1>                
                    <input name="name" type="text" required placeholder="Your Name Here..." />
                    <button type="submit" class="join">Start</button>
                </div>
            </div>
            <div class="flex-1"></div>
        </div>        
    </form>
</body>

</html>
{{end}}