
{{define "lobby"}}
<div id="lobby" class="w-md">
    <h1>Lobby</h1>    
    <div id="lobby_players" class="w-md">
        {{range .Players}}
            {{template "lobbyPlayer" .}}
        {{end}}
        <div sse-swap="newPlayer" hx-swap="beforeend"></div>
    </div>
    <div class="mb-20">
        <input id="ready_input" type="hidden" name="ready" value="{{if eq .Player.Ready true}}wait{{else}}ready{{end}}"/>
        <button id="ready_button" type="submit" hx-post="/ready" hx-include="[name='ready']" hx-swap="none" class="bg-blue-700 hover:bg-blue-600 p-4 border-1 cursor-pointer rounded-lg text-white focus:ring-blue-400">
            {{if eq .Player.Ready true}}Wait! Hold on a sec!{{else}}I'm Ready!{{end}}
        </button>
    </div>
</div>
{{end}}

{{define "lobbyPlayer"}}
<div id="lobby_player{{.ID}}" class="flex flex-row bg-white rounded-lg w-full">
    <div class="grow">{{.Name}}</div>
    <div id="lobby_player_ready{{.ID}}" class="grow">{{if eq .Ready true}}Let's Go!{{else}}waiting for player{{end}}</div>
</div>
{{end}}

{{define "lobbyCountdown"}}
<div>
    <h1>Countdown <span id="countdown_num">{{.}}</span></h1>
</div>
{{end}}
